* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.cont-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-404 img {
    height: 100vh;
    width: 100%;
    padding-bottom: 20px;
}

.cont-404 button {
    padding: 12px 15px;
    background-color: green;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    font-size: medium;
    font-weight: bold;
}

.cont-404 button:hover {
    background-color: rgb(136, 142, 126);
}